

body{
    background-color:rgb(90, 90, 90) ;
}

/* Style for the form container */
#Reagister_form{
    margin-top: 10%;
    margin-left: 30%;
    padding-top: 200px;
    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  /* Style for the form input fields */
   input
 {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  
  /* Style for the form submit button */
  form button[type="submit"] {
    display: block;
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  /* Style for the form submit button */
  a:link, a:visited  {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c6faf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style for the error messages */
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }